# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
.terraform.lock.hcl

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
